.input {
  box-sizing: border-box;
  border-radius: 11px;
  border: 1px solid #000;
  background: #fff;
  height: 40px;
  width: 100%;
  flex-shrink: 0;

  //* Text styles
  padding-left: 24px;
  font-family: "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  &::placeholder {
    font-family: "Inter", sans-serif;
    color: rgba(0, 0, 0, 0.7);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}